@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<TP4.Models.Movie>

<h2>Action movies in stock</h2>
<ul>
    @foreach (var m in Model)
    {
        <li>@m.Title (@m.Stock) - @m.ReleaseDate.ToShortDateString()</li>
    }
</ul>

